body {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-weight: 800;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.header, .footer, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}

.header{
    display: flex;
    flex-direction: row;
    padding: 15px 150px;
    gap: 20px;
}

a:hover {
    color: palegoldenrod;
    text-decoration: underline;
}

.logo {
    margin: auto;
    margin-left: 0;
}

.hero{
    font-size: 20px;
    padding: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 500px;
}

.button {
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    padding: 5px 10px;
    width: 110px;
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 10px;
}

.quote {
    background-color: lightgrey;
    text-align: center;
    padding: 80px;
}

.quoteItself {
    font-size: 24px;
    width: 38%;
    margin: 0 auto;
    font-weight: 100;
    font-style: italic;
}

.individualQuote {
    font-size: 22px;
    margin: 0 auto;
    width: 38%;
    text-align: right;
}

.smallContainer {
    text-align: center;
    background-color: white;
    padding: 70px;
    color: #F9FAF8;
}

.sign-up {
    background-color: #3882f6;
    display: flex;
    width: 900px;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.bottom {
    border: 1px solid white;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 60%;
    margin: 0 auto;
}

.productDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    border: 3px solid #3882f6;
    border-radius: 7px;
}

.product p {
    font-weight: 100;
}