body {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-weight: 800;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.header, .footer, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}

.header{
    display: flex;
    flex-direction: row;
    padding: 15px 150px;
    gap: 20px;
}

a:hover {
    color: palegoldenrod;
    text-decoration: underline;
}

.logo {
    margin: auto;
    margin-left: 0;
}

.hero {
    font-size: 20px;
    padding: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 500px;
}

.button {
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    padding: 5px 10px;
    width: 110px;
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 10px;
}
